<footer> 
  <footer class="page-footer font-small black pt-4 fixed-bottom">
        <div class="container-fluid text-center text-md-left">
<h5 class= "text-uppercase">TECHBLOGGY</h5> 
<p> Thanks for visiting Techbloggy</p>
</div>
</footer> 